In [8]:
from urllib.request import urlopen
import json
import pandas as pd
import requests

## Driver

In [10]:
response = urlopen('https://api.openf1.org/v1/drivers')
data = json.loads(response.read().decode('utf-8'))
driver_df = pd.DataFrame(data)

In [131]:
driver_df

,driver_number,broadcast_name,full_name,name_acronym,team_name,team_colour,first_name,last_name,headshot_url,country_code,session_key,meeting_key
0,1,M VERSTAPPEN,Max VERSTAPPEN,VER,Red Bull Racing,3671C6,Max,Verstappen,https://www.formula1.com/content/dam/fom-websi...,NED,7763,1140
1,2,L SARGEANT,Logan SARGEANT,SAR,Williams,37BEDD,Logan,Sargeant,https://www.formula1.com/content/dam/fom-websi...,USA,7763,1140
2,4,L NORRIS,Lando NORRIS,NOR,McLaren,F58020,Lando,Norris,https://www.formula1.com/content/dam/fom-websi...,GBR,7763,1140
3,10,P GASLY,Pierre GASLY,GAS,Alpine,2293D1,Pierre,Gasly,https://www.formula1.com/content/dam/fom-websi...,FRA,7763,1140
4,11,S PEREZ,Sergio PEREZ,PER,Red Bull Racing,3671C6,Sergio,Perez,https://www.formula1.com/content/dam/fom-websi...,MEX,7763,1140
...,...,...,...,...,...,...,...,...,...,...,...,...
4638,55,C SAINZ,Carlos SAINZ,SAI,Ferrari,E80020,Carlos,Sainz,https://media.formula1.com/d_driver_fallback_i...,ESP,9662,1252
4639,61,J DOOHAN,Jack DOOHAN,DOO,None,None,None,None,None,None,9662,1252
4640,63,G RUSSELL,George RUSSELL,RUS,Mercedes,27F4D2,George,Russell,https://media.formula1.com/d_driver_fallback_i...,GBR,9662,1252
4641,77,V BOTTAS,Valtteri BOTTAS,BOT,Kick Sauber,52E252,Valtteri,Bottas,https://media.formula1.com/d_driver_fallback_i...,FIN,9662,1252
4642,81,O PIASTRI,Oscar PIASTRI,PIA,McLaren,FF8000,Oscar,Piastri,https://media.formula1.com/d_driver_fallback_i...,AUS,9662,1252

## Session

In [16]:
response = urlopen('https://api.openf1.org/v1/sessions')
data = json.loads(response.read().decode('utf-8'))
session_df = pd.DataFrame(data)

In [145]:
session_df

,meeting_key,session_key,driver_number,i1_speed,i2_speed,st_speed,date_start,lap_duration,is_pit_out_lap,duration_sector_1,duration_sector_2,duration_sector_3,segments_sector_1,segments_sector_2,segments_sector_3,lap_number
0,1252,9662,1,290.0,302.0,289.0,None,NaN,False,NaN,39.931,34.944,"[2048, 2049, 2049, 2049, 2049]","[2049, 2049, 2049, 2049, 2049, 2049, 2049, 204...","[2048, 2048, 2048, 2048, 2048, 2049, 2048, 204...",1
1,1252,9662,4,281.0,283.0,293.0,None,NaN,False,NaN,38.405,32.676,"[2064, 2049, 2051, 2051, 2049]","[2049, 2051, 2049, 2049, 2049, 2051, 2049, 204...","[2048, 2048, 2048, 2048, 2048, 2048, 2048, 204...",1
2,1252,9662,10,287.0,294.0,306.0,None,NaN,False,NaN,38.658,33.126,"[2048, 2049, 2049, 2049, 2051]","[2049, 2049, 2049, 2049, 2049, 2049, 2049, 204...","[2048, 2048, 2048, 2048, 2048, 2048, 2048, 204...",1
3,1252,9662,11,283.0,128.0,305.0,None,NaN,False,NaN,50.797,NaN,"[2048, 2049, 2049, 2049, 2049]","[2049, 2049, 2049, 2049, 2049, 2049, 2049, 204...",[],1
4,1252,9662,14,285.0,283.0,291.0,None,NaN,False,NaN,39.033,33.904,"[2048, 2049, 2049, 2049, 2049]","[2049, 2049, 2051, 2049, 2049, 2049, 2049, 204...","[2048, 2048, 2048, 2048, 2048, 2048, 2048, 204...",1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1001,1252,9662,4,295.0,305.0,305.0,2024-12-08T14:28:38.920000+00:00,89.858,False,17.513,39.702,32.643,"[2049, 2049, 2048, 2049, 2049]","[2049, 2048, 2048, 2048, 2048, 2048, 2048, 204...","[0, 0, 0, 0, 0, 0, 0, 0, 0]",57
1002,1252,9662,16,291.0,301.0,313.0,2024-12-08T14:29:10.839000+00:00,89.918,False,18.055,38.575,33.288,"[None, 2048, 2048, 2048, 2048]","[2048, 2048, 2048, 2048, 2048, 2048, 2048, 204...","[2048, 2048, 2048, 2048, 2048, 2048, 2048, 204...",57
1003,1252,9662,44,297.0,326.0,337.0,2024-12-08T14:29:17.593000+00:00,87.784,False,17.554,37.588,32.642,"[2049, 2048, 2048, 2048, 2048]","[2048, 2048, 2048, 2049, 2049, 2048, 2049, 204...","[0, 0, 0, 0, 0, 0, 0, 0, 0]",57
1004,1252,9662,55,294.0,301.0,311.0,2024-12-08T14:28:46.591000+00:00,88.031,False,17.553,38.122,32.356,"[None, 2048, 2048, 2049, 2048]","[2048, 2048, 2048, 2048, 2048, 2048, 2049, 204...","[0, 0, 0, 0, 0, 0, 0, 0, 0]",57
1005,1252,9662,63,295.0,304.0,315.0,2024-12-08T14:29:16.772000+00:00,89.592,False,17.509,38.270,33.813,"[2048, 2049, 2048, 2048, 2048]","[2048, 2048, 2048, 2048, 2048, 2048, 2048, 204...","[2048, 2048, 2048, 2048, 2048, 2048, 2048, 206...",57

## Meetings

In [127]:
response = urlopen('https://api.openf1.org/v1/meetings')
data = json.loads(response.read().decode('utf-8'))
meetings_df = pd.DataFrame(data)

In [129]:
meetings_df

,meeting_name,meeting_official_name,location,country_key,country_code,country_name,circuit_key,circuit_short_name,date_start,gmt_offset,meeting_key,year,meeting_code
0,Pre-Season Testing,FORMULA 1 ARAMCO PRE-SEASON TESTING 2023,Sakhir,36,BRN,Bahrain,63,Sakhir,2023-02-23T07:00:00+00:00,03:00:00,1140,2023,NaN
1,Bahrain Grand Prix,FORMULA 1 GULF AIR BAHRAIN GRAND PRIX 2023,Sakhir,36,BRN,Bahrain,63,Sakhir,2023-03-03T11:30:00+00:00,03:00:00,1141,2023,NaN
2,Saudi Arabian Grand Prix,FORMULA 1 STC SAUDI ARABIAN GRAND PRIX 2023,Jeddah,153,KSA,Saudi Arabia,149,Jeddah,2023-03-17T13:30:00+00:00,03:00:00,1142,2023,NaN
3,Australian Grand Prix,FORMULA 1 ROLEX AUSTRALIAN GRAND PRIX 2023,Melbourne,5,AUS,Australia,10,Melbourne,2023-03-31T01:30:00+00:00,11:00:00,1143,2023,NaN
4,Azerbaijan Grand Prix,FORMULA 1 AZERBAIJAN GRAND PRIX 2023,Baku,30,AZE,Azerbaijan,144,Baku,2023-04-28T09:30:00+00:00,04:00:00,1207,2023,NaN
5,Miami Grand Prix,FORMULA 1 CRYPTO.COM MIAMI GRAND PRIX 2023,Miami,19,USA,United States,151,Miami,2023-05-05T18:00:00+00:00,-04:00:00,1208,2023,NaN
6,Monaco Grand Prix,FORMULA 1 GRAND PRIX DE MONACO 2023,Monaco,114,MON,Monaco,22,Monte Carlo,2023-05-26T11:30:00+00:00,02:00:00,1210,2023,NaN
7,Spanish Grand Prix,FORMULA 1 AWS GRAN PREMIO DE ESPAÑA 2023,Barcelona,1,ESP,Spain,15,Catalunya,2023-06-02T11:30:00+00:00,02:00:00,1211,2023,NaN
8,Canadian Grand Prix,FORMULA 1 PIRELLI GRAND PRIX DU CANADA 2023,Montréal,46,CAN,Canada,23,Montreal,2023-06-16T17:30:00+00:00,-04:00:00,1212,2023,NaN
9,Austrian Grand Prix,FORMULA 1 ROLEX GROSSER PREIS VON ÖSTERREICH 2023,Spielberg,17,AUT,Austria,19,Spielberg,2023-06-30T15:00:00+00:00,02:00:00,1213,2023,AUT
10,British Grand Prix,FORMULA 1 ARAMCO BRITISH GRAND PRIX 2023,Silverstone,2,GBR,Great Britain,2,Silverstone,2023-07-07T11:30:00+00:00,01:00:00,1214,2023,NaN
11,Hungarian Grand Prix,FORMULA 1 QATAR AIRWAYS HUNGARIAN GRAND PRIX 2023,Budapest,14,HUN,Hungary,4,Hungaroring,2023-07-21T11:30:00+00:00,02:00:00,1215,2023,NaN
12,Belgian Grand Prix,FORMULA 1 MSC CRUISES BELGIAN GRAND PRIX 2023,Spa-Francorchamps,16,BEL,Belgium,7,Spa-Francorchamps,2023-07-28T11:30:00+00:00,02:00:00,1216,2023,NaN
13,Dutch Grand Prix,FORMULA 1 HEINEKEN DUTCH GRAND PRIX 2023,Zandvoort,133,NED,Netherlands,55,Zandvoort,2023-08-25T10:30:00+00:00,02:00:00,1217,2023,NaN
14,Italian Grand Prix,FORMULA 1 PIRELLI GRAN PREMIO D’ITALIA 2023,Monza,13,ITA,Italy,39,Monza,2023-09-01T11:30:00+00:00,02:00:00,1218,2023,NaN
15,Singapore Grand Prix,FORMULA 1 SINGAPORE AIRLINES SINGAPORE GRAND P...,Marina Bay,157,SGP,Singapore,61,Singapore,2023-09-15T09:30:00+00:00,08:00:00,1219,2023,NaN
16,Japanese Grand Prix,FORMULA 1 LENOVO JAPANESE GRAND PRIX 2023,Suzuka,4,JPN,Japan,46,Suzuka,2023-09-22T02:30:00+00:00,09:00:00,1220,2023,NaN
17,Qatar Grand Prix,FORMULA 1 QATAR AIRWAYS QATAR GRAND PRIX 2023,Lusail,149,QAT,Qatar,150,Lusail,2023-10-06T13:30:00+00:00,03:00:00,1221,2023,NaN
18,United States Grand Prix,FORMULA 1 LENOVO UNITED STATES GRAND PRIX 2023,Austin,19,USA,United States,9,Austin,2023-10-20T17:30:00+00:00,-05:00:00,1222,2023,NaN
19,Mexico City Grand Prix,FORMULA 1 GRAN PREMIO DE LA CIUDAD DE MÉXICO 2023,Mexico City,8,MEX,Mexico,65,Mexico City,2023-10-27T18:30:00+00:00,-06:00:00,1223,2023,NaN
20,São Paulo Grand Prix,FORMULA 1 ROLEX GRANDE PRÊMIO DE SÃO PAULO 2023,São Paulo,10,BRA,Brazil,14,Interlagos,2023-11-03T14:30:00+00:00,-03:00:00,1224,2023,NaN
21,Las Vegas Grand Prix,FORMULA 1 HEINEKEN SILVER LAS VEGAS GRAND PRIX...,Las Vegas,19,USA,United States,152,Las Vegas,2023-11-17T04:30:00+00:00,-08:00:00,1225,2023,NaN
22,Abu Dhabi Grand Prix,FORMULA 1 ETIHAD AIRWAYS ABU DHABI GRAND PRIX ...,Yas Island,21,UAE,United Arab Emirates,70,Yas Marina Circuit,2023-11-24T09:30:00+00:00,04:00:00,1226,2023,NaN
23,Bahrain Grand Prix,FORMULA 1 GULF AIR BAHRAIN GRAND PRIX 2024,Sakhir,36,BRN,Bahrain,63,Sakhir,2024-02-29T11:30:00+00:00,03:00:00,1229,2024,BRN
24,Saudi Arabian Grand Prix,FORMULA 1 STC SAUDI ARABIAN GRAND PRIX 2024,Jeddah,153,KSA,Saudi Arabia,149,Jeddah,2024-03-07T13:30:00+00:00,03:00:00,1230,2024,KSA
25,Australian Grand Prix,FORMULA 1 ROLEX AUSTRALIAN GRAND PRIX 2024,Melbourne,5,AUS,Australia,10,Melbourne,2024-03-22T01:30:00+00:00,11:00:00,1231,2024,AUS
26,Japanese Grand Prix,FORMULA 1 MSC CRUISES JAPANESE GRAND PRIX 2024,Suzuka,4,JPN,Japan,46,Suzuka,2024-04-05T02:30:00+00:00,09:00:00,1232,2024,JPN
27,Chinese Grand Prix,FORMULA 1 LENOVO CHINESE GRAND PRIX 2024,Shanghai,53,CHN,China,49,Shanghai,2024-04-19T03:30:00+00:00,08:00:00,1233,2024,CHN
28,Miami Grand Prix,FORMULA 1 CRYPTO.COM MIAMI GRAND PRIX 2024,Miami,19,USA,United States,151,Miami,2024-05-03T16:30:00+00:00,-04:00:00,1234,2024,USA
29,Emilia Romagna Grand Prix,FORMULA 1 MSC CRUISES GRAN PREMIO DEL MADE IN ...,Imola,13,ITA,Italy,6,Imola,2024-05-17T11:30:00+00:00,02:00:00,1235,2024,ITA
30,Monaco Grand Prix,FORMULA 1 GRAND PRIX DE MONACO 2024,Monaco,114,MON,Monaco,22,Monte Carlo,2024-05-24T11:30:00+00:00,02:00:00,1236,2024,MON
31,Canadian Grand Prix,FORMULA 1 AWS GRAND PRIX DU CANADA 2024,Montréal,46,CAN,Canada,23,Montreal,2024-06-07T17:30:00+00:00,-04:00:00,1237,2024,CAN
32,Spanish Grand Prix,FORMULA 1 ARAMCO GRAN PREMIO DE ESPAÑA 2024,Barcelona,1,ESP,Spain,15,Catalunya,2024-06-21T11:30:00+00:00,02:00:00,1238,2024,ESP
33,Austrian Grand Prix,FORMULA 1 QATAR AIRWAYS AUSTRIAN GRAND PRIX 2024,Spielberg,17,AUT,Austria,19,Spielberg,2024-06-28T10:30:00+00:00,02:00:00,1239,2024,AUT
34,British Grand Prix,FORMULA 1 QATAR AIRWAYS BRITISH GRAND PRIX 2024,Silverstone,2,GBR,Great Britain,2,Silverstone,2024-07-05T11:30:00+00:00,01:00:00,1240,2024,GBR
35,Hungarian Grand Prix,FORMULA 1 HUNGARIAN GRAND PRIX 2024,Budapest,14,HUN,Hungary,4,Hungaroring,2024-07-19T11:30:00+00:00,02:00:00,1241,2024,HUN
36,Belgian Grand Prix,FORMULA 1 ROLEX BELGIAN GRAND PRIX 2024,Spa-Francorchamps,16,BEL,Belgium,7,Spa-Francorchamps,2024-07-26T11:30:00+00:00,02:00:00,1242,2024,BEL
37,Dutch Grand Prix,FORMULA 1 HEINEKEN DUTCH GRAND PRIX 2024,Zandvoort,133,NED,Netherlands,55,Zandvoort,2024-08-23T10:30:00+00:00,02:00:00,1243,2024,NED
38,Italian Grand Prix,FORMULA 1 PIRELLI GRAN PREMIO D’ITALIA 2024,Monza,13,ITA,Italy,39,Monza,2024-08-30T11:30:00+00:00,02:00:00,1244,2024,ITA
39,Azerbaijan Grand Prix,FORMULA 1 QATAR AIRWAYS AZERBAIJAN GRAND PRIX ...,Baku,30,AZE,Azerbaijan,144,Baku,2024-09-13T09:30:00+00:00,04:00:00,1245,2024,AZE
40,Singapore Grand Prix,FORMULA 1 SINGAPORE AIRLINES SINGAPORE GRAND P...,Marina Bay,157,SGP,Singapore,61,Singapore,2024-09-20T09:30:00+00:00,08:00:00,1246,2024,SGP
41,United States Grand Prix,FORMULA 1 PIRELLI UNITED STATES GRAND PRIX 2024,Austin,19,USA,United States,9,Austin,2024-10-18T17:30:00+00:00,-05:00:00,1247,2024,USA
42,Mexico City Grand Prix,FORMULA 1 GRAN PREMIO DE LA CIUDAD DE MÉXICO 2024,Mexico City,8,MEX,Mexico,65,Mexico City,2024-10-25T18:30:00+00:00,-06:00:00,1248,2024,MEX
43,São Paulo Grand Prix,FORMULA 1 LENOVO GRANDE PRÊMIO DE SÃO PAULO 2024,São Paulo,10,BRA,Brazil,14,Interlagos,2024-11-01T14:30:00+00:00,-03:00:00,1249,2024,BRA
44,Las Vegas Grand Prix,FORMULA 1 HEINEKEN SILVER LAS VEGAS GRAND PRIX...,Las Vegas,19,USA,United States,152,Las Vegas,2024-11-22T02:30:00+00:00,-08:00:00,1250,2024,USA
45,Qatar Grand Prix,FORMULA 1 QATAR AIRWAYS QATAR GRAND PRIX 2024,Lusail,149,QAT,Qatar,150,Lusail,2024-11-29T13:30:00+00:00,03:00:00,1251,2024,QAT
46,Abu Dhabi Grand Prix,FORMULA 1 ETIHAD AIRWAYS ABU DHABI GRAND PRIX ...,Yas Island,21,UAE,United Arab Emirates,70,Yas Marina Circuit,2024-12-06T09:30:00+00:00,04:00:00,1252,2024,UAE

## Stints

In [24]:
response = urlopen('https://api.openf1.org/v1/stints')
data = json.loads(response.read().decode('utf-8'))
stints_df = pd.DataFrame(data)

In [25]:
stints_df

,meeting_key,session_key,stint_number,driver_number,lap_start,lap_end,compound,tyre_age_at_start
0,1140,7763,1,4.0,1,1,MEDIUM,7.0
1,1140,7763,1,20.0,1,1,MEDIUM,10.0
2,1140,7763,1,2.0,1,2,SOFT,15.0
3,1140,7763,1,24.0,1,2,MEDIUM,10.0
4,1140,7763,1,14.0,1,2,MEDIUM,0.0
...,...,...,...,...,...,...,...,...
17582,1252,9662,3,81.0,31,57,HARD,0.0
17583,1252,9662,2,44.0,34,58,MEDIUM,1.0
17584,1252,9662,3,14.0,36,57,HARD,1.0
17585,1252,9662,3,24.0,38,56,HARD,0.0
17586,1252,9662,5,20.0,54,56,SOFT,3.0

## Weather

In [26]:
response = urlopen('https://api.openf1.org/v1/weather')
data = json.loads(response.read().decode('utf-8'))
weather_df = pd.DataFrame(data)

In [29]:
weather_df

,air_temperature,humidity,pressure,rainfall,track_temperature,wind_direction,wind_speed,date,session_key,meeting_key
0,23.8,26.0,1012.2,0,29.7,193,4.9,2023-02-23T06:54:55.756000+00:00,9222,1140
1,23.8,26.0,1012.2,0,29.7,193,4.9,2023-02-23T06:55:55.755000+00:00,9222,1140
2,23.8,27.0,1012.2,0,30.0,193,4.3,2023-02-23T06:56:55.754000+00:00,9222,1140
3,23.8,27.0,1012.2,0,30.1,186,5.5,2023-02-23T06:57:55.754000+00:00,9222,1140
4,23.8,27.0,1012.2,0,30.1,182,4.4,2023-02-23T06:58:55.753000+00:00,9222,1140
...,...,...,...,...,...,...,...,...,...,...
24995,25.9,60.0,1018.0,0,29.3,122,2.6,2024-12-08T14:30:44.728000+00:00,9662,1252
24996,25.9,60.0,1018.0,0,29.4,84,2.4,2024-12-08T14:31:44.720000+00:00,9662,1252
24997,25.8,60.0,1018.0,0,29.4,34,1.2,2024-12-08T14:32:44.720000+00:00,9662,1252
24998,25.8,60.0,1018.0,0,29.1,116,1.2,2024-12-08T14:33:44.734000+00:00,9662,1252
24999,25.8,60.0,1018.0,0,29.1,116,1.2,2024-12-08T14:34:44.784000+00:00,9662,1252

## Pit

In [30]:
response = urlopen('https://api.openf1.org/v1/pit')
data = json.loads(response.read().decode('utf-8'))
pit_df = pd.DataFrame(data)

In [31]:
pit_df

,pit_duration,lap_number,driver_number,date,session_key,meeting_key
0,35.3,3,14,2023-06-02T11:33:46.930000+00:00,9095,1211
1,40.8,4,18,2023-06-02T11:35:42.475000+00:00,9095,1211
2,155.2,3,21,2023-06-02T11:36:30.849000+00:00,9095,1211
3,277.0,2,2,2023-06-02T11:37:01.583000+00:00,9095,1211
4,27.6,5,16,2023-06-02T11:37:14.911000+00:00,9095,1211
...,...,...,...,...,...,...
12201,32.7,32,81,2024-12-08T13:53:15.464000+00:00,9662,1252
12202,21.6,34,44,2024-12-08T13:55:40.057000+00:00,9662,1252
12203,22.4,37,14,2024-12-08T14:00:33.594000+00:00,9662,1252
12204,28.7,39,24,2024-12-08T14:03:51.327000+00:00,9662,1252
12205,22.0,55,20,2024-12-08T14:28:28.639000+00:00,9662,1252

## Laps

In [125]:
session_keys = session_df['session_key'].unique().tolist()

In [90]:
laps_df = pd.DataFrame()

for session_key in session_keys:
    api_url = f'https://api.openf1.org/v1/laps?session_key={session_key}'

    response = urlopen(api_url)
    data = json.loads(response.read().decode('utf-8'))
    
    session_df = pd.DataFrame(data)

    laps_df = pd.concat([laps_df, session_df], ignore_index=True)

In [92]:
laps_df

,meeting_key,session_key,driver_number,i1_speed,i2_speed,st_speed,date_start,lap_duration,is_pit_out_lap,duration_sector_1,duration_sector_2,duration_sector_3,segments_sector_1,segments_sector_2,segments_sector_3,lap_number
0,1140,9222,1,200.0,221.0,194.0,2023-02-23T07:00:34.221000+00:00,NaN,True,NaN,49.344,32.346,[],[],[],1
1,1140,9222,2,220.0,236.0,131.0,2023-02-23T12:36:07.799000+00:00,NaN,True,NaN,50.556,30.112,[],[],[],1
2,1140,9222,4,202.0,190.0,197.0,2023-02-23T12:39:45.983000+00:00,NaN,True,NaN,50.478,26.494,[],[],[],1
3,1140,9222,10,206.0,219.0,176.0,2023-02-23T07:01:04.533000+00:00,NaN,True,NaN,50.013,31.888,[],[],[],1
4,1140,9222,14,227.0,255.0,161.0,2023-02-23T12:39:27.343000+00:00,NaN,True,NaN,49.966,27.320,[],[],[],1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
125699,1252,9662,4,295.0,305.0,305.0,2024-12-08T14:28:38.920000+00:00,89.858,False,17.513,39.702,32.643,"[2049, 2049, 2048, 2049, 2049]","[2049, 2048, 2048, 2048, 2048, 2048, 2048, 204...","[0, 0, 0, 0, 0, 0, 0, 0, 0]",57
125700,1252,9662,16,291.0,301.0,313.0,2024-12-08T14:29:10.839000+00:00,89.918,False,18.055,38.575,33.288,"[None, 2048, 2048, 2048, 2048]","[2048, 2048, 2048, 2048, 2048, 2048, 2048, 204...","[2048, 2048, 2048, 2048, 2048, 2048, 2048, 204...",57
125701,1252,9662,44,297.0,326.0,337.0,2024-12-08T14:29:17.593000+00:00,87.784,False,17.554,37.588,32.642,"[2049, 2048, 2048, 2048, 2048]","[2048, 2048, 2048, 2049, 2049, 2048, 2049, 204...","[0, 0, 0, 0, 0, 0, 0, 0, 0]",57
125702,1252,9662,55,294.0,301.0,311.0,2024-12-08T14:28:46.591000+00:00,88.031,False,17.553,38.122,32.356,"[None, 2048, 2048, 2049, 2048]","[2048, 2048, 2048, 2048, 2048, 2048, 2049, 204...","[0, 0, 0, 0, 0, 0, 0, 0, 0]",57
125703,1252,9662,63,295.0,304.0,315.0,2024-12-08T14:29:16.772000+00:00,89.592,False,17.509,38.270,33.813,"[2048, 2049, 2048, 2048, 2048]","[2048, 2048, 2048, 2048, 2048, 2048, 2048, 204...","[2048, 2048, 2048, 2048, 2048, 2048, 2048, 206...",57

## Race Control

In [97]:
response = urlopen('https://api.openf1.org/v1/race_control')
data = json.loads(response.read().decode('utf-8'))
race_control_df = pd.DataFrame(data)

In [99]:
race_control_df

,date,category,flag,scope,message,session_key,meeting_key,driver_number,lap_number,sector
0,2023-02-23T07:00:00+00:00,Flag,GREEN,Track,GREEN LIGHT - PIT EXIT OPEN,9222,1140,NaN,NaN,NaN
1,2023-02-23T07:00:00+00:00,Flag,GREEN,Track,GREEN LIGHT - PIT EXIT OPEN,9222,1140,NaN,NaN,NaN
2,2023-02-23T07:08:43+00:00,Flag,RED,Track,RED FLAG,9222,1140,NaN,NaN,NaN
3,2023-02-23T07:08:43+00:00,Flag,RED,Track,RED FLAG,9222,1140,NaN,NaN,NaN
4,2023-02-23T07:25:11+00:00,Other,None,None,SESSION WILL RESUME AT 10:30,9222,1140,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
10313,2024-12-08T14:31:30+00:00,Other,None,None,FIA STEWARDS: 5 SECOND TIME PENALTY FOR CAR 18...,9662,1252,NaN,58.0,NaN
10314,2024-12-08T14:47:11+00:00,Flag,DOUBLE YELLOW,Sector,DOUBLE YELLOW IN TRACK SECTOR 9,9662,1252,NaN,58.0,9.0
10315,2024-12-08T14:49:41+00:00,Flag,CLEAR,Sector,CLEAR IN TRACK SECTOR 9,9662,1252,NaN,58.0,9.0
10316,2024-12-08T14:51:01+00:00,Flag,DOUBLE YELLOW,Sector,DOUBLE YELLOW IN TRACK SECTOR 9,9662,1252,NaN,58.0,9.0
10317,2024-12-08T14:51:54+00:00,Flag,CLEAR,Sector,CLEAR IN TRACK SECTOR 9,9662,1252,NaN,58.0,9.0

## Convert to CSV

In [1]:
import os
print(os.getcwd())

C:\Users\souri\Documents\School\Data Integration CS 329E

In [36]:
# Drivers
file_path = "drivers.csv"  
driver_df.to_csv(file_path, index=False)

In [38]:
# Sessions
file_path = "sessions.csv"  
session_df.to_csv(file_path, index=False)

In [42]:
# Meetings
file_path = "meetings.csv"  
meetings_df.to_csv(file_path, index=False)

In [44]:
# Stints
file_path = "stints.csv"  
stints_df.to_csv(file_path, index=False)

In [46]:
# Weather
file_path = "weather.csv"  
weather_df.to_csv(file_path, index=False)

In [48]:
# Pit
file_path = "pit.csv"  
pit_df.to_csv(file_path, index=False)

In [101]:
# Laps
file_path = "laps.csv"  
laps_df.to_csv(file_path, index=False)

In [103]:
# Race Control
file_path = "race_control.csv"  
race_control_df.to_csv(file_path, index=False)